*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
!/.gradle
gradle-app.state
app/build/
*.apk
*.aab
.native/
release.keystore
